---
import ParticlesBackground from "./react/ParticlesBackground";
---

<div class="cosmic-background" aria-hidden="true">
  <ParticlesBackground client:load />
</div>
<div class="scanline" aria-hidden="true"></div>
